@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #fafafa;
  padding-top: 60px;
  width: 60%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.menu {
  background: white;
  width: 61%;
  margin-top: 5px;
  padding: 0 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.376);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.376);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 19.5%;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items a {
  font-size: 1rem;
  line-height: 1.1rem;
  color: black;
  margin: 10px;
  text-decoration: none;
}

.menu-items button {
  color: white;
  margin: 10px 0 10px 10px;
  padding: 10px;
  background: #504da6;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.1rem;
  width: 9rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-items button:hover {
  background: #3b37afa9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  padding: 8px 8px 8px 20px;
}

.logo img {
  width: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sign-up {
  background: white;
  margin-top: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.laptop {
  background-image: url("./res/Laptop-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
}

.laptop:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.greeting {
  margin-top: 20px;
}

.sign-up-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up-form label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.small-header,
.clicka {
  text-transform: uppercase;
  opacity: 0.4;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.8rem;
}

.big-header {
  font-size: 2rem;
  line-height: 2rem;
  vertical-align: Top;
  padding-top: 1rem;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  padding-top: 1rem;
}

.bottom p {
  margin-bottom: 1rem;
}

.bottom button {
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  background: #504da6;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  width: 6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bottom button:hover {
  background: #504da6a8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input,
select {
  padding: 0.5rem;
  color: #0000009f;
  font-size: 1rem;
  border: 1px solid #ececec;
  min-height: 40px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

form label {
  color: #000000;
  opacity: 0.4;
}

/* bases */
.box-container {
  margin-top: 60px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.box {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#504da6), color-stop(96.59%, #7042bf));
  background-image: linear-gradient(0deg, #504da6 0%, #7042bf 96.59%);
  border-radius: 8px;
  width: 260px;
  min-height: 200px;
  padding: 1rem 1rem 1rem 2rem;
  color: white;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#box-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2.55%, #17cec4), to(#08aeea));
  background-image: linear-gradient(180deg, #17cec4 2.55%, #08aeea 100%);
}

#box-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8308), to(#fd4f00));
  background-image: linear-gradient(180deg, #ff8308 0%, #fd4f00 100%);
}

#box-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed629a), to(#c850c0));
  background-image: linear-gradient(180deg, #ed629a 0%, #c850c0 100%);
}

.smalltext {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

hr {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.top {
  color: white;
  padding: 5px 0;
  margin: 0;
  font-size: 2.5rem;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.bottom-text {
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 145%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 2rem;
  margin-left: 1rem;
}

.top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* sections */
.sections {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left-section,
.right-section {
  background: white;
  border-radius: 8px;
  padding: 0;
  margin-top: 0;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sections img {
  max-width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.t1 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 120%;
  margin: 2rem;
  padding-top: 2rem;
}

.t2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #777777;
  margin: 2rem;
}

/* hero */
.hero-wrapper {
  background-image: url(./res/Basepic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 8rem;
  border-radius: 8px;
}

.hero-top {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 3.8rem;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero-bot {
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.95;
  width: 40%;
  margin-bottom: 10px;
}

.hero-wrapper button {
  color: white;
  margin: 10px 0 10px 0px;
  padding: 15px;
  border: none;
  background: #504da6;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.1rem;
  width: 12rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-wrapper button:hover {
  background: #504da6a8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* cards */
.cards-container {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card {
  background-repeat: no-repeat;
  background-size: contain;
  width: 259px;
  height: 424px;
  border-radius: 8px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#card1 {
  background-image: url(./res/card1.jpg);
}

#card2 {
  background-image: url(./res/card2.jpg);
}

#card3 {
  background-image: url(./res/card3.jpg);
  width: 540px;
}

.cardtext-top {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.cardtext-bot {
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card3text-bot {
  font-size: 22px;
  line-height: 32px;
  color: black;
  width: 15rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards-container button {
  color: #354052;
  margin: 10px 0 10px 0px;
  padding: 15px;
  border: none;
  background: white;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  width: 9rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cards-container button:hover {
  background: #f3f3f3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu-bot {
  background: white;
  margin: 30px 0px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bot a {
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin: 10px;
  text-decoration: none;
  padding: 0px 10px;
}

@media (max-width: 1600px) {
  body {
    width: 80%;
  }
  .menu {
    width: 100%;
    left: 0;
  }
  .menu .logo img {
    width: 150px;
  }
}

@media (max-width: 1000px) {
  body {
    width: 90%;
  }
  .sign-up {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .laptop {
    width: 0%;
  }
  .box {
    width: 200px;
  }
  .sections {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sections .left-section,
  .sections .right-section {
    width: 80%;
  }
  .sections .left-section .t1,
  .sections .right-section .t1 {
    font-size: 2rem;
  }
  .sections .left-section .t2,
  .sections .right-section .t2 {
    font-size: 1.3rem;
  }
  .hero-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    border-radius: 8px;
  }
  .hero-wrapper .hero-top {
    font-size: 2.5rem;
  }
  .hero-wrapper .hero-bot {
    font-size: 2rem;
    width: 90%;
  }
  .cards-container {
    margin: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards-container .card {
    margin-bottom: 5px;
  }
  .cards-container #card3 {
    height: auto;
    width: 80%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
  }
}

@media (max-width: 600px) {
  body {
    width: 98%;
    font-size: 10px;
  }
  .menu-items button {
    padding: 5px;
  }
  .logo {
    padding: 8px;
  }
  .logo img {
    width: 110px;
  }
  .sign-up {
    padding: 10px;
  }
  .sign-up .greeting {
    text-align: center;
  }
  .box {
    width: 300px;
  }
  .sections {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sections .left-section,
  .sections .right-section {
    width: 90%;
  }
  .hero-wrapper .hero-top {
    font-size: 2rem;
  }
  .hero-wrapper .hero-bot {
    font-size: 1.5rem;
  }
  .menu-bot a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */