* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(96.9% 96.9% at 50% 1.08%, #2B3047 0%, #0F0F23 100%);
  background-blend-mode: overlay, normal;
  height: 100vh;
}

.nav {
  background: #1A1E31;
  mix-blend-mode: normal;
  opacity: 0.81;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.titleCol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.title {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 47.196px;
  line-height: 57px;
  text-align: center;
  color: #D6D5D5;
  max-width: 49rem;
}

#world {
  color: #C86DD7;
  font-weight: 900;
}

.map {
  background-image: url('/clickalp2/img/MAP.png');
  background-position: center;
  mix-blend-mode: normal;
  opacity: 1;
  display: flex;
  justify-content: center;
  min-height: 509px;
  max-width: 1008px;
  margin: auto;
}

.leftmap {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.map-text {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  font-size: 28px;
  text-align: left;
  color: #D6D5D5;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: auto;
}

label {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: white;
  display: flex;
  align-items: flex-end;
}

input{
  background-color: black;
}